.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 684px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Titles {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  margin: 10px;
}

.Up-titles {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.links {
  font-size:large;
  display: flex;
  flex-direction: column;
}

.Motivation {
  font-size: small;
}